.userpref-container{
  display: flex;
  flex-direction: row;
 
 
}

.space{
    margin: 10px;
}


.userpref-container h1{
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
   
}
.list-container2 span{
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
}

.list-container span{
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}