.Card {
  text-align: center;
  /* border: solid; */
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
.CityName {
  font-size: xx-large;
}
.CityImage {
  border: solid;
  width: 100%;
}
/* .AcceptOrReject {
  display: flex;
  justify-content: space-between;

  width: 50.9%;
  margin: 0 auto;
} */
.Accept {
  font-size: xx-large;
  margin: auto;
}
.Reject {
  font-size: xx-large;
  margin: auto;
}
/* .border {
  height: 700px;
  max-width: 600px;

  position: relative;
  margin: 0 auto;
  border: 8px groove #5995ed;
  background-color: #b1a205;
  overflow: hidden;
} */
p {
  font-size: larger;
}
